# ========================================
# OS & IDE Specific
# ========================================

# macOS
.DS_Stor
*.msm
*.msp

# Linux
*~
.directory
*.swp
*.swo
*.swn
*.bak

.env.production
